@model IEnumerable<OMKT.Business.Inbox>
<p>
    <a class="btn btn-primary" href="@Url.Action("Create", "Inbox")">Nuevo</a>
</p>
@foreach (var item in Model)
{
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        <h4>@Html.DisplayFor(modelItem => item.To.FirstName)</h4>
        @Html.DisplayFor(modelItem => item.Message) <strong>@Html.DisplayFor(modelItem => item.Timestamp)</strong>
    </div>
@* <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.InboxId }) |
        @Html.ActionLink("Details", "Details", new { id = item.InboxId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.InboxId })
    </td>*@
}
