@model OMKT.Business.AdvertCampaign

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}

<h2>Borrar</h2>
<div class="alert-message warning">
    <a class="close" href="#">×</a>
    <p>
        <strong>¿Estás seguro que deseas eliminar esta Campaña?</strong></p>
</div>
<fieldset>
    <legend>AdvertCampaign</legend>

    @*<div class="display-label">Customer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.Name)
    </div>*@

     <p>
        <strong>Nombre de Catálogo:</strong>@Html.DisplayFor(model => model.Name)
    </p>
    <p>
        <strong>Fecha de vigencia:</strong> @Html.DisplayFor(model => model.StartDatetime)
    </p>
    <p>
        <strong>Fecha de caducidad:</strong> @Html.DisplayFor(model => model.EndDatetime)
    </p>
</fieldset>
@using (Html.BeginForm()) {
   <div class="actions">
            <input type="submit" class="btn primary" value="Eliminar" />
			@Html.ActionLink("Volver", "Index", null, new { @class = "btn" })
    </div>
}
