@model OMKT.Business.AdvertCampaign
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}
<div class="span12">
    <h2>
        Detalle <small>de Campaña</small></h2>
    <div class="row-fluid">
        <div class="span6">
            <div class="page-header">
                <h3>@Html.DisplayFor(model => model.Name)</h3>
            </div>
            <div class="details-view">
                <p>
                    <strong>Tipo </strong>
                    @Html.DisplayFor(model => model.CampaignType.Name)
                </p>
                <p>
                    <strong>Estado </strong>
                    @Html.DisplayFor(model => model.CampaignState.Description)</p>
                <p>
                    <strong>Ubicacion </strong>
                    @Html.DisplayFor(model => model.CampaignLocation.Description)</p>
                <p>
                    <strong>Red </strong>
                    @Html.DisplayFor(model => model.Network.Description)</p>
                <p>
                    <strong>Presupuesto </strong>
                    @Html.DisplayFor(model => model.Estimate)</p>
                <p>
                    <strong>Fecha de inicio </strong>
                    @Html.DisplayFor(model => model.StartDatetime)</p>
                <p>
                    <strong>Fecha fin </strong>
                    @Html.DisplayFor(model => model.EndDatetime)</p>
                <p>
                    <strong>Cantidad de Anuncios </strong>
                    @Html.DisplayFor(model => model.AdvertCampaignDetails.Count)</p>
                <p>
                    <strong>Costo </strong>
                    @Html.DisplayFor(model => model.Offer)</p>
                
            </div>
        </div>
        <div class="span6">
            
        </div>
         <div class="actions">
                    @Html.ActionLink("Editar", "Edit", new { id = Model.AdvertCampaignId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Volver", "Index", null, new { @class = "btn" })
        </div>
    </div>
</div>        