@using OMKT.Business
@model AdvertCampaign
<fieldset>
    @Html.HiddenFor(model => model.AdvertCampaignId)
    @Html.HiddenFor(model => model.CustomerId)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.StartDatetime)
    @Html.HiddenFor(model => model.CampaignStateId)
    <strong>General</strong> @*    <hr />*@
    <div class="control-group">
        <label class="control-label" for="name">
            Nombre</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Name, new { @autofocus = "autofocus" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="CampaignTypeId">
            Tipo</label>
        <div class="controls">
            <div class="input chzn-select">
                @Html.DropDownList("CampaignTypeId", String.Empty) @Html.ValidationMessageFor(model => model.CampaignTypeId)
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="EndDatetime">
            Fecha de finalización</label>
        <div class="controls">
            @Html.EditorFor(model => model.EndDatetime, "Calendar")
            @Html.ValidationMessageFor(model => model.EndDatetime)
        </div>
    </div>
    <strong>Redes</strong> @* <hr />*@
    <div class="control-group">
        <label class="control-label" for="NetworkId">
            Red</label>
        <div class="controls">
            <label class="radio">
                @Html.RadioButtonFor(model => model.NetworkId, Model.NetworkId, new { @checked = "checked" })
                Red de difusión de Optical Marketing
            </label>
        </div>
    </div>
    <strong>Ubicaciones</strong>
    @*<hr />*@
    <div class="control-group">
        <label class="control-label">
            Ubicaciones</label>
        <div class="controls">
            ¿A qué ubicaciones desea orientar su campaña (o cuáles desea excluir)?
            <label class="radio">
            @Html.RadioButtonFor(model => model.CampaignLocationId, 1, new { @checked = "checked" })
            Todas las ubicaciones</label>
            <label class="radio">
            @Html.RadioButtonFor(model => model.CampaignLocationId, 2)
            Ubicaciones públicas</label>
            <label class="radio">
            @Html.RadioButtonFor(model => model.CampaignLocationId, 3)
            Ubicaciones privadas</label>
        </div>
    </div>
    <strong>Oferta y Presupuesto</strong>
    @*<hr />*@
    <div class="control-group">
        <label class="control-label">
            Oferta</label>
        <div class="controls">
            Opciones básicas
        <label class="radio">
            <input type="radio" name="offerControl[]" value="1" checked="checked" />
            Dejar que Optical Marketing establezca las ofertas para maximizar las interacciones
            dentro del presupuesto objetivo</label>
        <label class="radio">
            <input type="radio" name="offerControl[]" value="0" disabled="disabled" />
            Establecer mis ofertas para las interacciones de forma manual</label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Estimate">Presupuesto</label>
        <div class="controls">
            <div class="input-prepend input-append">
                <span class="add-on">$</span>
                @Html.TextBoxFor(model => model.Estimate, new { @class = "input-small" })
                <span class="add-on">.00 / día</span>
            </div>
            @Html.ValidationMessageFor(model => model.Estimate)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Oferta por defecto</label>
        <div class="controls">
            <div class="input-prepend input-append">
                <span class="add-on">$</span>
                @Html.TextBoxFor(model => model.Offer, new { @disabled = "disabled", @class = "input-small" })
                <span class="add-on">.00</span>
            </div>
            @Html.ValidationMessageFor(model => model.Estimate)
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" value="Guardar" class="btn btn-primary" />
        @if (Model != null && Model.AdvertCampaignId > 0)
        {   <text> @Html.ActionLink("Borrar", "Delete", new { id = Model.AdvertCampaignId }, new { @class = "btn" })
            </text>
        }
        <a href="@Url.Action("Index")" class="btn">Volver</a>
    </div>
</fieldset>
