@{
    ViewBag.Title = "Administración de Campañas";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}
<h2>
    Todas las Campañas <small>en línea</small></h2>
<div class="row-fluid">
    <div class="span2">
        <a href="@Url.Action("Create", "AdvertCampaign")" class="btn btn-primary"><i class="icon-plus icon-white ">
        </i> Nueva Campaña</a>
    </div>
    <div class="span2">
        <div class="input chzn-select pull-righ" style="width: 450px">
            <form action="" method="get">
                <select name="campaign-search" id="state-search">
                <option value="0" @((Request["state"]=="0") ? "selected" : "")>Todas las campañas</option>
                <option value="1" @((Request["state"]=="1") ? "selected" : "")>Campañas activas</option>
                <option value="2" @((Request["state"]=="2") ? "selected" : "")>Campañas finalizadas</option>
            </select>
            </form>
        </div>
    </div>    
    <div class="span2">
        <div class="input chzn-select pull-righ" style="width: 450px">
            <select name="since" id="period-search">
                <option value="7" @((Request["period"]=="7") ? "selected" : "")>Últimos 7 días</option>
                <option value="15" @((Request["period"] == "15") ? "selected" : "")>Últimos 15 días</option>
                <option value="30" @((Request["period"] == "30") ? "selected" : "")>Últimos 30 días</option>
            </select>
        </div>
    </div>
    <div class="span12" style="margin-left:0">
        @{Html.RenderAction("AdvertCampaignsPerformance", "AdvertCampaign", new { period = Request["period"] });}
    </div>
</div>
@{Html.RenderAction("LatestCampaigns", "AdvertCampaign", new { state = Request["state"], period = Request["period"] });}
<div id="delete-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;</button>
        <h3>
            Campañas</h3>
    </div>
    <div class="modal-body">
        <div id="delete-result" class="">
        </div>
        <p class="body">
        </p>
    </div>
    <div class="modal-footer">
        <form action="" method="post">
            <input type="submit" class="btn btn-primary" value="Borrar" />
            <a href="#" target="_blank" class="btn btn-success campaign-details">Detalle</a>
            <a href="#" class="btn close-modal">Cerrar</a>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#state-search").on('change', function () {
            window.location.href = '@Url.Content("~/AdvertCampaign?state=")' + $('#state-search option:selected').val();
        });
        $("#period-search").on('change', function () {
            window.location.href = '@Url.Content("~/AdvertCampaign?period=")' + $('#period-search option:selected').val();
        });

        $('.close-modal').on('click', function () {
            $('#delete-modal').modal('hide');
        });

        $('#delete-modal form').on('submit', function () {
            $('#delete-result').html('');
            $.post($(this).attr('action'), $(this).serialize(), function (data, status) {
                $('#delete-info').hide();
                $('#delete-result').html('<strong>La campaña fue eliminada con éxito. Redirigiendo...</strong>');
                $('#delete-result').addClass('alert alert-success');
                setTimeout(function () {
                    window.location.href = '@Url.Content("AdvertCampaign")';
                }, 3000);

            }).error(function (error, status, a, b) {
                $('#delete-error').html('Ups! Algo anduvo mal. Por favor, intenta nuevamente.');
                $('.modal-body p.body').html(error.responseText);

            });
            return false;
        });

        $('.delete-campaign').on('click', function () {
            $('#delete-result').html('');
            var id = $(this).attr('campaign-id');
            var url = '@Url.Content("~/AdvertCampaign/Delete")/' + id;
            $.ajax({
                url: url,
                context: document.body,
                success: function (data) {
                    $('.modal-body p.body').html(data);
                    $(this).addClass('done');
                    $('.modal-footer form').attr('action', url);
                    $('.modal-footer a.campaign-details').attr('href', '@Url.Content("~/AdvertCampaign/Details")/' + id);
                    $('#delete-modal').modal('show');
                },
                error: function (err) {
                    $('#delete-error').html('Ups! Something went wrong. Please try again.');
                }
            });
            return false;
        });

    });
</script>