@model IEnumerable<OMKT.Business.CommercialProduct>
<table class="table table-striped table-bordered">
    <thead>
        <th>
        </th>
        <th>
            Nombre
        </th>
       
        <th>
            Cantidad
        </th>
        <th>
            Categoría
        </th>
        <th>
            Precio
        </th>
    </thead>
    @foreach (var item in Model)
    {

        <tr>
            <td>
               @if (item.ProductImage.ThumbnailPath != null) { 
               <img src="@Url.Content(item.ProductImage.ThumbnailPath)" class="img-rounded" title="@item.ProductImage.Title" alt="@item.ProductImage.Caption" width="50" height="50" />               
               }
               
            </td>
            <td>
                <a href="@Url.Action("Edit", "CommercialProduct", new { id = item.CommercialProductId })">@item.ProductName</a>
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommercialProductType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }
</table>
