@model OMKT.Business.CommercialProduct
@{
    ViewBag.Title = "Borrar";
}
<div id="delete-info" class="alert alert-info">
    <strong>¿Estás seguro que deseas eliminar este producto?</strong>
</div>
<ul class="product-list sortable media-list">
    <li class="media">
            <a class="pull-left" href="#">
                <img src="@Url.Content(Model.ProductImage.ThumbnailPath)" class="media-object" title="@Model.ProductImage.Title" alt="@Model.ProductImage.Caption" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">@Html.DisplayFor(model => model.ProductName)</h4>
                <p>@Html.DisplayFor(model => model.Description)</p>
            </div>
    </li>
</ul>

