
@model OMKT.Business.CommercialProduct

@{
    ViewBag.Title = "Detalle de producto";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}

@section Header{
<script type="text/javascript">
    var sorter_options = {
        headers: {
            3: { sorter: 'decimal' },
            4: { sorter: 'datetime' },
            5: { sorter: 'datetime' }
        }
    };
</script>
}
<h2>Detalle <small>de producto</small></h2>
<fieldset>
    <img src="@Url.Content(Model.ProductImage.Path)" class="img-rounded" title="@Model.ProductImage.Title" alt="@Model.ProductImage.Caption" width="100px" height="100px"/>
    <p>
        <strong>Nombre de producto: </strong>@Html.DisplayFor(model => model.ProductName)
    </p>
    <p>
        <strong>Categoría: </strong>@Html.DisplayFor(model => model.CommercialProductType.Description)
    </p>
    <p>
        <strong>Descripción: </strong>@Html.DisplayFor(model => model.Description)
    </p>
    <p>
        <strong>Precio de producto: </strong>@Html.DisplayFor(model => model.Price)
    </p>
    <p>
        <strong>Ruta de la imagen: </strong>@Html.DisplayFor(model => model.ProductImage.Path)
    </p>
    <p>
        <strong>Ruta del video: </strong>@Html.DisplayFor(model => model.VideoPath)
    </p>
</fieldset>
<div class="actions">
    @Html.ActionLink("Editar", "Edit", new { id = Model.CommercialProductId }, new { @class = "btn primary" })
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn"})
</div>
