@model OMKT.Business.CommercialProduct
@{
    ViewBag.Title = "Detalle de producto";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}
<div class="span12">
    <h2>
        Detalle <small>del Producto</small></h2>
    <div class="row-fluid">
        <div class="span6">
            <div class="page-header">
                <h3>
                    @Html.DisplayFor(model => model.ProductName)
                </h3>
            </div>
            <div class="details-view">
                <p>
                    <strong>Categoría </strong></p><p>@Html.DisplayFor(model => model.CommercialProductType.Description)
                </p>
                <p>
                    <strong>Descripción </strong></p><p>@Html.DisplayFor(model => model.Description)
                </p>
                <p>
                    <strong>Precio </strong></p><p>$@Html.DisplayFor(model => model.Price)
                </p>                
            </div>
        </div>
        <div class="span6">
            <img src="@Url.Content(Model.ProductImage.Path)" class="img-rounded" title="@Model.ProductImage.Title" alt="@Model.ProductImage.Caption" /></div>
        <div class="actions">
            @*@Html.ActionLink("Editar", "Edit", new { id = Model.CommercialProductId }, new { @class = "btn primary" })*@
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
