@model OMKT.Business.CommercialProduct
<fieldset>
    @Html.HiddenFor(model => model.CommercialProductId)
    @Html.HiddenFor(model => model.ProductImageId)
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(model => model.CustomerId)
    <div class="control-group">
        <label class="control-label">
            Nombre</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.ProductName, new { @class = "", @autofocus = "autofocus" })
            @Html.ValidationMessageFor(model => model.ProductName)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Precio</label>
        <div class="controls">
            <div class="input-prepend input-append">
                <span class="add-on">$</span>
                @Html.TextBoxFor(model => model.Price, new { @style = "width:148px" })
                <span class="add-on">.00</span>
            </div>
            @Html.ValidationMessageFor(model => model.Price, "*")
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Unidades Disponibles</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Stock, new { @class = "" })
            @Html.ValidationMessageFor(model => model.Stock, "*")
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Tipo</label>
        <div class="controls">
        <div class="span3" style="margin-left:0">
            <div class="input chzn-select">
                @Html.DropDownList("CommercialProductTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.CommercialProductTypeId)
            </div>
            </div>
            <div class="span2" style="margin-left:-10px">
            <a target="_blank" href="#" class="btn small btn-primary">
                    <i class="icon-plus icon-white" style="margin: 0"></i></a></div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Póster</label>
        <div class="controls">
            <input type="file" name="image" class="span5" id="image" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Descripción</label>
        <div class="controls">
            @Html.TextAreaFor(model => model.Description, new { @rows = "5", @class = "input-xxlarge" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
    <div class="control-group">
        @if (Model != null && Model.ProductImage != null)
        {
            <text>
            <div class="controls">
                <div class="span4">
                    <img src="@Url.Content(Model.ProductImage.ThumbnailPath)" class="img-rounded" title="@Model.ProductImage.Title" alt="@Model.ProductImage.Caption" />
                </div>
            </div>
            </text>
        }
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Guardar" />
        @*@if (Model != null && Model.CommercialProductId > 0)
        {   <text> @Html.ActionLink("Borrar", "Delete", new { id = Model.CommercialProductId }, new { @class = "btn" })
            </text>
        }*@
        <a href="@Url.Action("Index")" class="btn">Volver</a>
    </div>
</fieldset>
<script type="text/javascript">
    $(document).ready(function () {
        $("div.chzn-select select").chosen();
        $(".chzn-select-deselect").chosen({ allow_single_deselect: true });
    });
</script>
