@model IEnumerable<OMKT.Business.CatalogDetail>

@{Html.RenderPartial("DisplayMessages");}
<table id="example" class="table table-striped table-bordered dataTable">
    <thead>
        <th>
            
        </th>
        <th>
            Producto
        </th>
        <th>
            Orden 
        </th>
        <th>
            Descuento
        </th>
        <th>
            QR
        </th>
         
        <th>
            Fecha de Agregación
        </th>
        <th>
            
        </th>
    </thead>
@foreach (var item in Model) {
    var catalogDetail = "catalogDetail" + item.CatalogDetailId; 
    <tr id="@catalogDetail">
        <td>
            <img src="@Url.Content(item.CommercialProduct.ProductImage.ThumbnailPath)" class="img-rounded" title="@item.CommercialProduct.ProductImage.Title" alt="@item.CommercialProduct.ProductImage.Caption" width="50px" height="50px"/>
        </td>
        <td>
            <a href="@Url.Action("Edit", "CommercialProduct", new { id = item.CommercialProductId})" target="_blank">@Html.DisplayFor(modelItem => item.CommercialProduct.ProductName)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QRCode)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td nowrap>
            <div class="btn-group">
                <a href="@Url.Action("Edit", new { id = item.CatalogDetailId })" class="btn btn-primary small editAdvertDetails" idCatalogDetails="@item.CatalogDetailId"><i class=" icon-edit icon-white"></i></a>
        @*        <a href="@Url.Action("Details", new { id = item.AdvertDetailId })" class="btn small"><i class=" icon-align-justify "></i></a>*@
                <a href="@Url.Action("Delete", new { id = item.CatalogDetailId })" idCatalogDetails = "@item.CatalogDetailId" class="btn small deleteAdvertDetails"><i class=" icon-trash "></i></a>
            </div>
        </td>
    </tr>
}
    
</table>
