@model OMKT.Business.CatalogDetail
    @Html.HiddenFor(model => model.CatalogDetailId)
    @Html.Hidden("CatalogId", Model.CatalogId)
    @Html.HiddenFor(model => model.CreatedDate)
    <div class="control-group">
        <label class="control-label">
            Producto</label>
        <div class="controls">
            <div class="input chzn-select">
                @Html.DropDownList("CommercialProductId", String.Empty)
                @Html.ValidationMessageFor(model => model.CommercialProductId)
                <a target="_blank" href="@Url.Action("Create", "CommercialProduct")" class="btn small btn-primary">
                    <i class="icon-plus icon-white" style="margin: 0"></i></a>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Posición en catálogo</label>
        <div class="controls">
            @Html.EditorFor(model => model.Position)
            @Html.ValidationMessageFor(model => model.Position)
        </div>
    </div>
<script type="text/javascript">
    $(document).ready(function () {
        $("div.chzn-select select").chosen();
        $(".chzn-select-deselect").chosen({ allow_single_deselect: true });
    });
</script>
