@using Paging

@model IPagedList<OMKT.Business.Customer>
           
<div class="pagingContainer">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>

<table class="zebra-striped">
    <thead>
        <th>ID</th>
        <th>
            Nombre
        </th>
        <th>
            CUIT
        </th>
       
        <th>
            Ciudad
        </th>
        <th>
            Teléfono
        </th>
        <th>
            Email
        </th>
        <th>Contacto</th>
            
        <th></th>
    </thead>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyNumber)
            </td>
      
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            
            <td nowrap>
                <div class="btn-group">
                    <a href="@Url.Action("Edit", new { id = item.CustomerID })" class="btn primary small editCustomer" idCustomer="@item.CustomerID "><i class=" icon-edit icon-white"></i></a>
                    <a href="@Url.Action("Details", new { id = item.CustomerID })" class="btn small"><i class=" icon-align-justify "></i></a>
                    <a href="@Url.Action("Delete", new { id = item.CustomerID })" class="btn small"><i class=" icon-trash "></i></a>
                </div>
               
            </td>
        </tr>
    }

    </table>