@model IEnumerable<OMKT.Business.Customer>
@{
    ViewBag.Title = "Administración de Clientes";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}
<h2>
    Administración de Clientes</h2>
<p>
    <a href="@Url.Action("Create", "Customer")" class="btn btn-primary"><i class="icon-plus icon-white ">
    </i>Nuevo Cliente</a>
</p>
<table id="example" class="table table-striped table-bordered">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Dirección
        </th>
        <th>
            CP
        </th>
        <th>
            Ciudad
        </th>
        <th>
            Contacto
        </th>
        <th>
            Telefono 1
        </th>
        <th>
            Telefono 2
        </th>
        <th>
            Nro. Empresa
        </th>
        <th>
            Activo
        </th>
        <th>
            Email
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <div class="btn-group">
                    <a href="@Url.Action("Edit", new { id = item.CustomerID })" class="btn btn-primary small" >
                        <i class=" icon-edit icon-white"></i></a><a href="@Url.Action("Details", new { id = item.CustomerID })" class="btn small" >
                            <i class="icon-align-justify"></i></a><a href="@Url.Action("Delete", new { id = item.CustomerID })" class="btn small delete-catalog">
                                <i class=" icon-trash "></i></a>
                </div>
            </td>
        </tr>
    }
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').dataTable({
            "sDom": "<'row-fluid'<'span6'T><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0, 12] }
            ]
            //"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>"
        });
    });
   
</script>
