@model OMKT.Business.User

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}

<h2>Borrar</h2>

<div class="alert alert-info">Estás seguro que deseas borrar este puesto?</div>
<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">Username</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">Comment</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

    <div class="display-label">IsApproved</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsApproved)
    </div>

    <div class="display-label">PasswordFailuresSinceLastSuccess</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PasswordFailuresSinceLastSuccess)
    </div>

    <div class="display-label">LastPasswordFailureDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastPasswordFailureDate)
    </div>

    <div class="display-label">LastActivityDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastActivityDate)
    </div>

    <div class="display-label">LastLockoutDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastLockoutDate)
    </div>

    <div class="display-label">DateOfBirth</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">LastLoginDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastLoginDate)
    </div>

    <div class="display-label">ConfirmationToken</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConfirmationToken)
    </div>

    <div class="display-label">CreateDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">IsLockedOut</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsLockedOut)
    </div>

    <div class="display-label">LastPasswordChangedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastPasswordChangedDate)
    </div>

    <div class="display-label">PasswordVerificationToken</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PasswordVerificationToken)
    </div>

    <div class="display-label">PasswordVerificationTokenExpirationDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PasswordVerificationTokenExpirationDate)
    </div>

    <div class="display-label">Customer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Borrar" class="btn btn-primary" />
    </p>
}
