@model OMKT.Business.User

@{
	ViewBag.Title = "Detalle";
	Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}

@section Header{
<script type="text/javascript">
	var sorter_options = {
		headers: {
			3: { sorter: 'decimal' },
			4: { sorter: 'datetime' },
			5: { sorter: 'datetime' }
		}
	};
</script>
}

<div class="span7">
<fieldset>
 <legend>Detalle de Usuario</legend>
	<p>
		<strong>Nombre de usuario: </strong>
		@Html.DisplayFor(model => model.Username)
	</p>
	<p>
		<strong>Email: </strong>
		@Html.DisplayFor(model => model.Email)
	</p>
	<p>
		<strong>Nombre: </strong>
		@Html.DisplayFor(model => model.FirstName)
	</p>
	<p>
		<strong>Apellido: </strong>
		@Html.DisplayFor(model => model.LastName)
  </p>
	<p>
		<strong>Aprobado: </strong>
		@Html.DisplayFor(model => model.IsApproved)
  </p>
	<p>
		<strong>Última visita: </strong>
		@Html.DisplayFor(model => model.LastLoginDate)
  </p>
	<p>
		<strong>Fecha de creación: </strong>
		@Html.DisplayFor(model => model.CreateDate)
  </p>
	<p>
		<strong>Bloqueado: </strong>
		@Html.DisplayFor(model => model.IsLockedOut)
	</p>
</fieldset>
<p>
	@Html.ActionLink("Volver", "Index", null, new { @class = "btn primary"})
</p>
</div>
<div class="span12">
	<h2>Últimos Catálogos</h2>
	@*@{Html.RenderAction("LastCatalogsByUser", "Catalog", new { id = Model.UserId });}*@
	
</div>
