@model OMKT.Business.User
<fieldset>
    @if (Model != null)
        {   <text> @Html.HiddenFor(model => model.UserId) </text>
        }
    <div class="clearfix">
        <div class="span6">
            @Html.LabelFor(model => model.Username)
            <div class="input">
                @Html.TextBoxFor(model => model.Username, new { @class="span4" }) @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>
        @*<div class="span6">
            @Html.LabelFor(model => model.Password)
        
            <div class="input">
                @Html.TextBoxFor(model => model.Password, new { @class = "span4" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>*@
    </div>
    <div class="clearfix">
        <div class="span6">
            @Html.LabelFor(model => model.Email)
            <div class="input">
                @Html.TextBoxFor(model => model.Email, new { @class="span4" }) @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="span6">
            @Html.LabelFor(model => model.FirstName)
            <div class="input">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "span4" }) @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="span6">
            @Html.LabelFor(model => model.LastName)
            <div class="input">
                @Html.TextBoxFor(model => model.LastName, new { @class = "span4" }) @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="span6">
            @Html.LabelFor(model => model.IsApproved)
            <div class="input">
                @Html.EditorFor(model => model.IsApproved, new { @class = "span4" }) @Html.ValidationMessageFor(model => model.IsApproved)
            </div>
        </div>
    </div>
    <div class="actions">
        <input type="submit" class="btn primary" value="Guardar" />
        <input type="button" class="btn closeModal" value="Cerrar" />
        @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })*@
    </div>
</fieldset>
