@model OMKT.Business.Alert

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Alert</legend>

    <div class="display-label">Message</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>

    <div class="display-label">Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">Customer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AlertId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
