@model OMKT.Business.Location
@{
    ViewBag.Title = "Ubicación";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}
<h2>
    Borrar</h2>
<div class="alert alert-info">
    Estás seguro que deseas borrar esta ubicación?</div>
    <fieldset>
        <legend>Ubicación</legend>
        <div class="display-label">
            Latitude</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Latitude)
        </div>
        <div class="display-label">
            Longitude</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Longitude)
        </div>
        <div class="display-label">
            Descripción</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Detail)
        </div>
        <div class="display-label">
            Adress</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Adress)
        </div>
        <div class="display-label">
            ReferenceNumber</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ReferenceNumber)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="Borrar" class="btn btn-primary" />
            |
        </p>
    }