@model OMKT.Business.Location

@{
    ViewBag.Title = "Ubicación";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}

<h2>Detalle</h2>

<fieldset>
    <legend>Ubicación</legend>

    <div class="display-label">Latitude</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Latitude)
    </div>

    <div class="display-label">Longitude</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Longitude)
    </div>

    <div class="display-label">Descripción</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Detail)
    </div>

    <div class="display-label">Adress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adress)
    </div>

    <div class="display-label">ReferenceNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReferenceNumber)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LocationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
