@model IEnumerable<OMKT.Business.Location>
@{
    ViewBag.Title = "Administración de Ubicaciones";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}
<h2>
    Administración de Ubicaciones</h2>
<p>
    <a href="@Url.Action("Create", "Location")" class="btn btn-primary"><i class="icon-plus icon-white ">
    </i>Nueva Ubicación</a>
</p>
<table id="example" class="table table-striped table-bordered">
    <tr>
        <th>
            Descripción
        </th>
        <th>
            Latitud
        </th>
        <th>
            Longitud
        </th>
        <th>
            Dirección
        </th>
        <th>
            Nro. de Referencia
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceNumber)
            </td>
            <td>
                <div class="btn-group">
                    <a href="@Url.Action("Edit", new { id = item.LocationId })" class="btn btn-primary small" >
                        <i class=" icon-edit icon-white"></i></a><a href="@Url.Action("Details", new { id = item.LocationId })" class="btn small" >
                            <i class="icon-align-justify"></i></a><a href="@Url.Action("Delete", new { id = item.LocationId })" class="btn small delete-catalog">
                                <i class=" icon-trash "></i></a>
                </div>
            </td>
        </tr>
    }
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').dataTable({
            "sDom": "<'row-fluid'<'span6'T><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0, 12] }
            ]
            //"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>"
        });
    });
   
</script>
