@{
    ViewBag.Title = "Primeros Pasos | OM";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}
<h2>
    Primeros pasos con Optical Marketing</h2>
<div class="row-fluid" id="help-section">

    <div class="span2" style="width: 16.529915%;" >
        <ul class="nav nav-tabs nav-stacked nav-help affix" data-spy="affix"  >
            <li><a href="#account-config"><i class="icon-chevron-right"></i>Cuenta</a></li>
            <li><a href="#products"><i class="icon-chevron-right"></i>Productos</a></li>
            <li><a href="#adverts"><i class="icon-chevron-right"></i>Anuncios</a></li>
            <li><a href="#campaigns"><i class="icon-chevron-right"></i>Campañas</a></li>
            <li><a href="#monitoring"><i class="icon-chevron-right"></i>Monitoreo</a></li>            
            <li><a href="#performance"><i class="icon-chevron-right"></i>Rendimiento</a></li>            
        </ul>
    </div>

    <div class="span10" style="width: 80.905983%;">
        <p>
            <img src="@Url.Content("~/Content/images/logo3.png")" width="500" alt="Optical Marketing" /></p>
        <h2 id="account-config">
            <i class="icon-wrench"></i> Configuración de cuenta</h2>
        <h4>
            Datos de cuenta</h4>
        <p>
            Luego de haber sido dado de alta, puede realizar cambios en su cuenta de Optical Marketing
            editando datos tanto del representante, como de la empresa.</p>
        <img src="@Url.Content("~/Content/images/Account.png")" alt="Configuración de cuenta" class="img-rounded" />
        <h4>
            Actualizar contraseña</h4>
        <p>
            Por cuestiones de seguridad puede actualizar su contraseña cuando lo desee, siempre y cuando 
            cumpla con los requerimientos mínimos de seguridad que exige Optical Marketing,
            es decir, una contraseña alfanumérica con no menos de 8 caracteres y con al menos
            un caracter en mayúscula.</p>
        <img src="@Url.Content("~/Content/images/AccountPass.png")" alt="Actualizar contraseña" class="img-rounded" />
        <!-- Products ---->
        <h2 id="productos">
            <i class="icon-shopping-cart"></i> Productos</h2>

            <p>Para comenzar a crear anuncios (catálogos,videos,juegos) debe crear los productos que formarán parte de cada uno de los anuncios que asignará a su campaña vigente.</p>
            <p>
            En esta sección puede administrar sus productos. Esto implica que cada producto puede ser editado, dado de baja o consultado en sus detalles e información
            adicional.</p>            
            <img src="@Url.Content("~/Content/images/Products.png")" alt="Productos" class="img-rounded" />

        
        <h4>
            Nuevo Producto</h4>
        <img src="@Url.Content("~/Content/images/ProductsNew.png")" alt="Nuevo Producto" class="img-rounded" />
        <p>
            Primero, asigne un nombre a su producto, una descripción que sea significativa.
            Debe tener en cuenta de éste nombre será el que se muestrará a sus potenciales clientes.
        </p>
        <p>
            Asimismo, la descripción será la que se despliegue cuando se esté interactuando
            con su anuncio.</p>
        <p>
            Luego, elija la categoría del producto. Esta categoría será útil para que Optical
            Marketing pueda mostrar sus anuncios en escenarios relevantes.</p>
        <p>
            Es importante el tamaño y el tipo de imagen que seleccione para su producto. El
            tamaño recomendado es de 1280x1024 en formato ‘jpg’, ‘jpeg’ o ‘png’. Esto se debe a la compatibilidad estándar de estos
            formatos y a que la imagen será mostrada en resoluciones realmente grandes.</p>
        <p>
            Cuando haya elegido todos los parámetros de configuración, haga clic en "Guardar".</p>
        <!-- Adverts -->
        <h2 id="adverts">
            <i class="icon-desktop"></i> Anuncios</h2>
        <h4>
            Maneje sus anuncios</h4>
        
        <p>
            Para poder comenzar a crear sus campañas, debe comenzar dando de alta a los anuncios que formarán parte de las mismas. Esto
            es así, porque su campaña estará formada por un grupo de anuncios.</p>
            <p> Es posible asignar los mismos anuncios a diferentes campañas, recordando que sólo una campaña puede estar vigente cada vez.</p>
            <p>Podemos encontrar 3 tipos de anuncios: Catálogos, Juegos y Videos.</p>
            <p>Los catálogos entran en la categoría de publicidad interactiva. Agrupan un conjunto de productos relacionados en una aplicación
             que el potencial cliente utiliza para conocerlos. Podrá recorrerlos, obtener información detallada y devolver una valoraciòn en caso de que sea de su agrado. </p>
            <p>Los juegos también entran en la categoría de publicidad interactiva, y agrupan un conjunto de productos relacionados o no, que sirvan para algún juego en particular. 
            En el caso del juego de memoria, sólo basta elegir productos al azar para ejecutar la aplicación, que tendría como premio, un descuento especificado por un código de QR
             para aquellos usuarios que salgan victoriosos.</p>
             <p>Los videos son la tradicional publicidad estática y ayudan a rellenar los espacios muertos entre cada interacción.</p>
           <p>
            Desde la pestaña de “Anuncios", puede acceder a los listados de Catálogos, Juegos y Videos, para poder administrarlos, así como también, conocer el rendimiento que han tenido en las campañas vigentes que los contienen.</p>
            <!-- Catalogos -->
        <h4>
           Catálogos</h4>
            <p>
            En esta sección puede administrar sus catálogos. Esto implica edición, dado de baja o consulta en detalle.</p>
        <p>
        <img src="@Url.Content("~/Content/images/Catalogs.png")" alt="Catálogo" class="img-rounded" />
        <h4>
            Nuevo Catálogo</h4>
            Se abrirá la página "Nuevo Catálogo".</p>
        <img src="@Url.Content("~/Content/images/AdvertNew.png")" alt="Nuevo catálogo" class="img-rounded" />
        <p>
            Primero, debe asignar un nombre a su anuncio. Aunque Optical Marketing indica
            un nombre de catálogo predeterminado, le sugerimos que elija un nombre que sea describa muy bien
             al conjunto de productos que lo representan. Sus potenciales clientes podrán ver el nombre de su catálogo.</p>
        <p>
            Luego debe asignarle un orden de visualización, es decir, el tipo de ordenamiento que seguirá
            el catálogo a la hora de ser mostrado en interacción con sus potenciales clientes.</p>
        <p>
            Finalmente, elija el estado del catálogo, para definir si será susceptible de formar
            parte de una campaña inmediatamente o a futuro.</p>
        <p>
            Cuando haya elegido todos los parámetros de configuración, haga clic en "Guardar".</p>

        <p>
            Luego, será redireccionado a la sección de edición de su catálogo. En esta sección podrá agregar los productos que formarán
             parte del mismo.</p>
        <img src="@Url.Content("~/Content/images/AdvertDetail.png")" alt="Edición de catálogo" class="img-rounded" />
        <!-- Juegos -->
        <h4>
           Juegos</h4>
            <p>
            En esta sección puede administrar sus juegos. Esto implica edición, dado de baja o consulta en detalle.</p>
        <p>
        <img src="@Url.Content("~/Content/images/Game.png")" alt="Juegos" class="img-rounded" />
        <h4>
            Nuevo Juego</h4>
            Se abrirá la página "Nuevo Juego".</p>
        <img src="@Url.Content("~/Content/images/GameNew.png")" alt="Nuevo juego" class="img-rounded" />
        <p>
            Primero, debe asignar un nombre a su anuncio. Aunque Optical Marketing indica
            un nombre de juego predeterminado, le sugerimos que elija un nombre que sea describa muy bien
             al juego, de esta manera el cliente podrá darse una idea del mismo. 
             Sus potenciales clientes podrán ver el nombre de su juego.</p>
        <p>
            Luego debe asignarle un la cantidad de oportunidades con las que contará el potencial cliente, para completar el juego.</p>
        <p>
            Finalmente, elija el estado del catálogo, para definir si será susceptible de formar
            parte de una campaña inmediatamente o a futuro.</p>
        <p>
            Cuando haya elegido todos los parámetros de configuración, haga clic en "Guardar".</p>
        <p>
            Luego, será redireccionado a la sección de edición de su juego. En esta sección podrá agregar los productos que formarán
             parte del mismo, es decir, aquellos que a los que pretende otorgarle un descuento.</p>

        <img src="@Url.Content("~/Content/images/GameDetail.png")" alt="Edición de juego" class="img-rounded" />

        <!-- Videos -->
        <h4>
           Videos</h4>
            <p>
            En esta sección puede administrar sus videos. Esto implica edición, dado de baja o consulta en detalle.</p>
        <p>
        <img src="@Url.Content("~/Content/images/Video.png")" alt="Videos" class="img-rounded" />
        <h4>
            Nuevo Video</h4>
            Se abrirá la página "Nuevo Video".</p>
        <img src="@Url.Content("~/Content/images/VideoNew.png")" alt="Nuevo video" class="img-rounded" />
        <p>
            Primero, debe asignar un título a su anuncio. Optical Marketing le sugiere un titulo representativo para el video, 
             de esta manera el cliente podrá darse una idea del mismo. Sus potenciales clientes podrán ver el título.</p>
        <p>
            Es importante el formato del video. El formato y codificación recomendado es '.mp4' y codificación H.264. Esto es así, 
            debido a la buena calidad de imagen que proporciona este códec, con un tamaño considerablemente menor a sus predecedores. <p>
            <p>
            Puede ser una buen opción, agregar un póster a su video.</p>
        <p>
            Finalmente, elija el estado del video, para definir si será susceptible de formar
            parte de una campaña inmediatamente o a futuro.</p>
        <p>
            Cuando haya elegido todos los parámetros de configuración, haga clic en "Guardar".</p>
        <!-- Campaigns -->

        <h2 id="campaigns">
            <i class="icon-cogs"></i> Campañas</h2>
            <p> Las campañas son una forma de agrupar anuncios con un objetivo común. Estas campañas son las que entrarán en la programación 
            diaria de Optical Marketing que utiliza como medio, una red de puestos de difusión ubicados en sitios de alto tráfico de personas.</p>
            
            <p>
            En esta sección puede administrar sus campañas. Esto implica control y seguimiento de su campaña vigente.</p>
            <img src="@Url.Content("~/Content/images/Campaigns.png")" alt="Nueva campaña" class="img-rounded" />
        <h4>Nueva Campaña</h4>
        <p>
            Se abrirá la página "Nueva Campaña".</p>
        <img src="@Url.Content("~/Content/images/CampaignNew.png")" alt="Nueva campaña" class="img-rounded" />
        <p>
            Asigne un nombre a su campaña y elija el tipo de campaña. Aunque Optical
            Marketing indica un nombre de campaña predeterminado, le sugerimos que elija un
            nombre que describa claramente el tema de la campaña para que pueda encontrarla
            fácilmente en su cuenta. Sus clientes no pueden ver el nombre de la campaña.
        </p>
        <p> Seleccione qué tipo de ubicación se ajusta mejor a su campaña. Puede discriminar entre red pública, red privada o ambas.</p>
        <p>
            Luego, elija el tipo y las fechas de comienzo y finalización de la campaña. El tipo de campaña determina la configuración base que aplicaremos a su 
            campaña, como las franjas horarias apropiadas para la misma.
        </p>
        <p>
            Cuando haya elegido todos los parámetros de configuración, haga clic en "Guardar".</p>
            <p>
            Luego, será redireccionado a la sección de edición de campaña. En esta sección podrá agregar los anuncios que formarán
             parte de la misma.</p>
        <img src="@Url.Content("~/Content/images/CampaignEdit.png")" alt="Edición de campaña" class="img-rounded" />
        <!--- Monitoring -->
          <h2 id="monitoring">
            <i class="icon-camera"></i> Monitoreo</h2>
        <p>Esta sección es meramente informativa, y permite hacer un seguimiento del tráfico que ha recibido su campaña.</p>
        <p>Esto puede ser tanto el tráfico que ha recibido su campaña en el día, como el recibido en la última semana.</p>
        <img src="@Url.Content("~/Content/images/Monitoring.png")" alt="Nueva campaña" class="img-rounded" />
        <p>También puede consultar desde aquí la red de puestos de Optical Marketing.</p>
        <p> Esta red de puestos, está continuamente en expansión, lo que permite llegar a mayor cantidad de personas cada vez.</p>
            <img src="@Url.Content("~/Content/images/Network.png")" alt="Nueva campaña" class="img-rounded" />      
        
        
        <h2 id="performance">
            <i class="icon-bar-chart"></i> Rendimiento</h2>
        <h4>
            Retorno de la inversión (ROI)</h4>
        <p>
            Cuando usa Optical Marketing para aumentar las conversiones, como ventas, clientes
            potenciales, es recomendable medir el retorno de la inversión (ROI). Al conocer
            su ROI, se asegurará de que el dinero que invierta en anuncios de Optical Marketing
            se aproveche bien: buenas ganancias para su empresa.
        </p>
        <h4>
            ¿Qué es el ROI?</h4>
        <p>
            El ROI es la proporción entre sus ganancias y sus costos, y el método exacto que
            use para calcularlo dependerá de los objetivos de su campaña. Por ejemplo, una inversión
            de $1.000), que genera ingresos de $1.200, le brinda ganancias de $200. Luego, puede
            calcular el ROI como ((1.200 - 1.000)/1.000) o un 20%. Generalmente, es la métrica
            más importante para los anunciantes porque se basa en sus objetivos publicitarios
            específicos y muestra el efecto real que sus esfuerzos publicitarios tienen en su
            empresa.
        </p>
        <h4>
            Importancia tiene el ROI</h4>
        <p>
            Al calcular el ROI, puede saber cuánto dinero obtiene a partir de la publicación
            de anuncios con Optical Marketing. </p>
            <p>Puede utilizar el ROI para decidir cómo invertir
            su presupuesto. Por ejemplo, si detecta que cierta campaña genera un ROI más alto
            que otras, puede asignar más dinero de su presupuesto a la campaña exitosa y menos
            a las campañas que no tienen tan buen rendimiento. También puede usar la información
            para mejorar el rendimiento de las campañas que tienen menos éxito.
        </p>
        <p>
            Dicho lo anterior, es importante dar un vistazo a la página principal de bienvenida
            de la administración de Optical Marketing.</p>
        <img src="@Url.Content("~/Content/images/Dashboard.png")" alt="Panel de control" class="img-rounded" />
        <p>
            Posee una vista rápida de los valores más importantes como:</p>
        <ul>
            <li>Rendimiento de las campañas</li>
            <li>Rendimiento de los anuncios</li>
            <li>Productos relevantes</li>
            <li>Alertas de presupuesto</li>
            <li>Campañas vigentes</li>
            <li>Anuncios vigentes</li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $('#navbar').affix();
</script>