@model OMKT.Business.Monitoring

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Monitoring</legend>

    <div class="display-label">AdvertHost</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdvertHost.AdvertHostName)
    </div>

    <div class="display-label">Timestamp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Timestamp)
    </div>

    <div class="display-label">Average</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Average)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MonitoringID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
