@model OMKT.Models.ContactUsModel
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page rounded wbox">
    <div class="page-content">
        <div class="page-header">
            <h2>
                Contáctanos</h2>
        </div>
        <p>
            ¡Trabaja con nosotros! ¡Empieza a conectar con tu audiencia!</p>
        <p>
            Gracias por tu interés en Optical Marketing. Por favor, completa el siguiente formulario,
            y nos pondremos en contacto a la brevedad.</p>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        @using (Html.BeginForm("HomeController", "Contacto", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true, "Ups! Algo anduvo mal. Por favor, intenta nuevamente.")

            <div>
                <fieldset>
                    <legend>Contacto</legend>
                    <div class="control-group">
                        <label class="control-label">
                            Nombre</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Name)
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Email</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Asunto</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Subject)
                            @Html.ValidationMessageFor(m => m.Subject)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Teléfono</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Phone)
                            @Html.ValidationMessageFor(m => m.Phone)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Mensaje</label>
                        <div class="controls">
                            @Html.TextAreaFor(m => m.Message, new { @class = "text-box multi-line" })
                            @Html.ValidationMessageFor(m => m.Message)
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="submit" value="Enviar Mensaje" class="btn btn-danger" />
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>
