@model OMKT.Business.AdvertCampaignDetail
<fieldset>
    @Html.HiddenFor(model => model.AdvertCampaignDetailId)
    @Html.HiddenFor(model => model.AdvertCampaignId)
    @Html.HiddenFor(model => model.Status)
    <div class="control-group">
        <label class="control-label">
            Anuncio</label>
        <div class="controls">
            <div class="input chzn-select">
                @Html.DropDownList("AdvertID", String.Empty)
                @Html.ValidationMessageFor(model => model.AdvertID)
            </div>
        </div>
    </div>
</fieldset>
<script type="text/javascript">
    $(document).ready(function () {
        $("div.chzn-select select").chosen();
        $(".chzn-select-deselect").chosen({ allow_single_deselect: true });
    });
</script>
