@model IEnumerable<OMKT.Business.Video>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            AdvertType
        </th>
        <th>
            LastUpdate
        </th>
        <th>
            EndDatetime
        </th>
        <th>
            StartDatetime
        </th>
        <th>
            CreatedDate
        </th>
        <th>
            AdvertState
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertState.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdvertId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdvertId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdvertId })
        </td>
    </tr>
}

</table>
