@model OMKT.Business.Catalog
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}
@section Header{
    <script type="text/javascript">

        var sorter_options = {
            headers: {
                1: { sorter: 'decimal' },
                2: { sorter: 'decimal' },
                3: { sorter: 'decimal' },
                4: { sorter: 'decimal' },
                5: { sorter: 'decimal' }
            }
        };

        function clearErrors() {
            $('#msgErrorNewAdvertDetails').html('');
            $('#msgError').html('');
        }

        function writeError(control, msg) {
            var errMsg = '<div class="alert-message error"><a class="close" href="#">×</a><p>' + msg + '</p></div>';
            $('#' + control).html(errMsg);
        }

        $(document).ready(function () {

            $('.closeModal').on('click', function () {
                $('#my-modal').modal('hide');
            });

            $('#my-modal form').on('submit', function () {
                clearErrors();

                $.post($(this).attr('action'), $(this).serialize(), function (data, status) {
                    $('#my-modal').modal('hide');
                    $("#catalogDetailsList").html(data);

                }).error(function (error, status, a, b) {
                    writeError('msgError', 'Ups! Algo anduvo mal. Por favor, intenta nuevamente.');
                    $('.modal-body p.body').html(error.responseText);

                });
                return false;
            });

            function getRequest(url) {
                $.ajax({
                    url: url,
                    context: document.body,
                    success: function (data) {
                        $('.modal-body p.body').html(data);
                        $(this).addClass("done");
                        $('#my-modal').modal('show');
                        $('#CommercialProduct').focus();
                    },
                    error: function (err) {
                        writeError('msgErrorNewAdvertDetails', err);
                    }
                });
            }

            $('a.newDetailCatalog').on('click', function () {
                clearErrors();

                //alert('sdf');
                var id = $(this).attr("idCatalog");
                var url = '@Url.Content("~/CatalogDetails/Create")/' + id;

                getRequest(url);

                return false;
            });

            $('a.catalogPosition').on('click', function () {
                //alert('sdf');
                var id = $(this).attr("idCatalog");
                var url = '@Url.Content("~/CatalogDetails/IndexByCatalogSortable")/' + id;
                getRequest(url);
                return false;
            });

            $('.deleteAdvertDetails').on('click', function () {
                clearErrors();

                var id = $(this).attr("idCatalogDetails");
                var url = '@Url.Content("~/CatalogDetails/Delete")/' + id;

                getRequest(url);

                return false;
            });



            $('.editAdvertDetails').on('click', function () {
                clearErrors();

                var id = $(this).attr("idCatalogDetails");
                var url = '@Url.Content("~/CatalogDetails/Edit")/' + id;

                getRequest(url);

                return false;
            });




        }); 
    </script>
}
<div class="span6">
    <h2>
        Edición de Catálogo</h2>
    @using (Html.BeginForm("Edit", "Catalog", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        <text>
        @{Html.RenderPartial("EditOrCreateCatalogPartial", Model);}
        </text>
    }
</div>
<div class="span7">
    <p>
        <a href="@Url.Action("Create", "CatalogDetails", new { id = Model.AdvertId })" idCatalog="@Model.AdvertId" class="btn btn-primary newDetailCatalog">
            <i class="icon-plus icon-white "></i> Nuevo</a> <a href="@Url.Action("IndexByCatalog", "CatalogDetails", new { id = Model.AdvertId })" idCatalog="@Model.AdvertId" class="btn btn-primary catalogPosition">
                <i class="icon-list icon-white "></i> Ordenar</a>
    </p>
    <div id="msgErrorNewCatalogDetails">
    </div>
    <div id="catalogDetailsList">
        @{Html.RenderAction("IndexByCatalog", "CatalogDetails", new { id = Model.AdvertId });}
    </div>
</div>
<div id="my-modal" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>
            Productos</h3>
    </div>
    <div class="modal-body">
        <div id="msgError">
        </div>
        <p class="body">
        </p>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Guardar" />
        <input type="button" class="btn closeModal" value="Cerrar" />
    </div>
</div>
<div id="products-order" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>
            Ordenar Productos</h3>
    </div>
    <div class="modal-body">
        <p>
            Products</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn">Cerrar</a> <a href="#" class="btn btn-primary">Guardar</a>
    </div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.sortable.js")"></script>
    <script type="text/javascript">
        $('.sortable').sortable();
    </script>
</div>
