@model OMKT.Business.Catalog
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}
<div class="span6">
    <h2>
        Catálogo</h2>
    @{Html.RenderPartial("DisplayMessages");}
    @using (Html.BeginForm("Edit", "Catalog", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        <text>
        @{Html.RenderPartial("EditOrCreateCatalogPartial", Model);}
        </text>
    }
</div>
<div class="span7">
    <p>
        <a href="@Url.Action("Create", "CatalogDetails", new { id = Model.AdvertId })" idCatalog="@Model.AdvertId" class="btn btn-primary newDetailCatalog">
            <i class="icon-plus icon-white "></i> Nuevo</a> <a href="@Url.Action("IndexByCatalog", "CatalogDetails", new { id = Model.AdvertId })" idCatalog="@Model.AdvertId" class="btn btn-primary catalogPosition">
                <i class="icon-list icon-white "></i> Ordenar</a>
    </p>
    <div id="msgErrorNewCatalogDetails">
    </div>
    <div id="catalogDetailsList">
        @{Html.RenderAction("IndexByCatalog", "CatalogDetails", new { id = Model.AdvertId });}
    </div>
</div>
<div id="catalog-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;</button>
        <h3>
            Detalle de Catálogo</h3>
    </div>
    <div class="modal-body" style="overflow-y: initial">
        <div id="catalog-result" class="">
        </div>
        <p class="body">
        </p>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary action-modal" value="" form="" />
        <a href="#" class="btn close-modal">Cerrar</a>
    </div>
</div>
<script type="text/javascript">

    function clearErrors() {
        $('#catalog-result').html('');
        $('#msgError').html('');
    }

    function writeError(control, msg) {
        var errMsg = '<div class="alert alert-error"><a class="close" href="#">×</a><p>' + msg + '</p></div>';
        $('#' + control).html(errMsg);
    }

    $(document).ready(function () {
        $('.close-modal').on('click', function () { $('#catalog-modal').modal('hide'); });
        $('a.newDetailCatalog').on('click', function () {
            clearErrors();
            var id = $(this).attr("idCatalog");
            var url = '@Url.Content("~/CatalogDetails/Create")/' + id;
            $.ajax({
                url: url,
                context: document.body,
                success: function (data) {
                    $('.modal-body p.body').html(data);
                    $('.modal-footer input.action-modal').attr('value', 'Guardar');
                    $('.modal-footer input.action-modal').attr('form', 'save-detail');
                    $('.modal-header h3').text('Nuevo Detalle');
                    $(this).addClass("done");
                    $('#catalog-modal').modal('show');
                    $('#CommercialProduct').focus();
                },
                error: function (err) {
                    writeError('catalog-result', err);
                }
            });
            return false;
        });

        $('#catalogDetailsList').on('click', '.deleteAdvertDetails', function (event) {
            event.preventDefault();
            clearErrors();
            var id = $(this).attr("idCatalogDetails");
            var url = '@Url.Content("~/CatalogDetails/Delete")/' + id;
            $.ajax({
                url: url,
                context: document.body,
                success: function (data) {
                    $('.modal-body p.body').html(data);
                    $('.modal-footer input.action-modal').attr('value', 'Borrar');
                    $('.modal-footer input.action-modal').attr('form', 'del-detail');
                    $('.modal-header h3').text('Quitar Detalle');
                    $(this).addClass("done");
                    $('#catalog-modal').modal('show');
                    $('#CommercialProduct').focus();
                },
                error: function (err) {
                    writeError('catalog-result', err);
                }
            });
            return false;
        });

        $('#catalogDetailsList').on('click', '.editAdvertDetails', function (event) {
            event.preventDefault();
            clearErrors();
            var id = $(this).attr("idCatalogDetails");
            var url = '@Url.Content("~/CatalogDetails/Edit")/' + id;
            $.ajax({
                url: url,
                context: document.body,
                success: function (data) {
                    $('.modal-body p.body').html(data);
                    $('.modal-footer input.action-modal').attr('value', 'Guardar');
                    $('.modal-footer input.action-modal').attr('form', 'save-detail');
                    $('.modal-header h3').text('Editar Detalle');
                    $(this).addClass("done");
                    $('#catalog-modal').modal('show');
                    $('#CommercialProduct').focus();
                },
                error: function (err) {
                    writeError('catalog-result', err);
                }
            });
            return false;
        });

        $('.modal-body p.body').on('submit', '#save-detail', function (e) {
            clearErrors();
            e.preventDefault();
            $.post($(this).attr('action'), $(this).serialize(), function (data, status) {
                $('#catalog-modal').modal('hide');
                $("#catalogDetailsList").html(data);
            }).error(function (error, status, a, b) {
                writeError('msgError', 'Ups! Algo anduvo mal. Por favor, intenta nuevamente.');
                $('.modal-body p.body').html(error.responseText);
            });
            return false;
        });


        // TODO
        $('a.catalogPosition').on('click', function () {
            var id = $(this).attr("idCatalog");
            var url = '@Url.Content("~/CatalogDetails/IndexByCatalogSortable")/' + id;
            $.ajax({
                url: url,
                context: document.body,
                success: function (data) {
                    $('.modal-body p.body').html(data);
                    $('.modal-footer input.action-modal').attr('value', 'Guardar');
                    $('.modal-footer input.action-modal').attr('form', 'save-detail');
                    $('.modal-header h3').text('Ordenar Detalle');
                    $(this).addClass("done");
                    $('#catalog-modal').modal('show');
                    $('#CommercialProduct').focus();
                },
                error: function (err) {
                    writeError('catalog-result', err);
                }
            });
            return false;
        });

    }); 
</script>
