@using OMKT.Business
@model Catalog
<fieldset>
    @*<legend>Edición de Catálogo</legend>*@
    @Html.HiddenFor(model => model.AdvertId)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.StartDatetime)
    @Html.HiddenFor(model => model.AdvertTypeId)
    <div class="control-group">
        <label class="control-label">
            Nombre</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Name, new { autofocus = "autofocus" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Orden</label>
        <div class="controls">
            <div class="input chzn-select">
                @Html.DropDownList("SortTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.SortTypeId)
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Estado</label>
        <div class="controls">
            <div class="input chzn-select">
                @Html.DropDownList("AdvertStateId", String.Empty)
                @Html.ValidationMessageFor(model => model.AdvertStateId)
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Fecha de caducidad</label>
        <div class="controls">
            @Html.EditorFor(model => model.EndDatetime, "Calendar")
            @Html.ValidationMessageFor(model => model.EndDatetime)
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" value="Guardar" class="btn btn-primary" />
        @if (Model != null && Model.AdvertId > 0)
        {   <text>
            @Html.ActionLink("Borrar", "Delete", new { id = Model.AdvertId }, new { @class = "btn" })
            </text>
        }
        <a href="@Url.Action("Index")" class="btn">Volver</a>
    </div>
</fieldset>
