<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/marker.png")">
    <!-- twitter bootstrap css library-->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.extra.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome.min.css")" />
    @*<link href="@Url.Content("~/Content/jquery.cleditor.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/datatabletheme.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/datepicker.css")" rel="stylesheet" type="text/css" />*@
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-calendar.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/methods_es.js")" type="text/javascript"></script>*@
    <!--WYSIWYG editor-->
    @*<script src="@Url.Content("~/Scripts/jquery.cleditor.min.js")" type="text/javascript"></script>*@
    <!--chossen jquery dropdown-->
    <link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("div.chzn-select select").chosen();
            $(".chzn-select-deselect").chosen({ allow_single_deselect: true });
            $('.close').on('click', function () {
                $('#my-modal').modal('hide');
            });
            $('a.inbox').on('click', function () {
                $.ajax({
                    url: '@Url.Content("~/Inbox")',
                    context: document.body,
                    success: function (data) {
                        $('.inbox-modal-body p.body').html(data);
                        $(this).addClass("done");
                        $('#inbox-modal').modal('show');
                        $('span#new').text('');

                    },
                    error: function (err) {
                        writeError('inbox-msgError', err);
                    }
                });
                return false;
            });
            $('span#new').text('1');
        });
    </script>
    @RenderSection("Header", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <!-- Be sure to leave the brand out there if you want it shown -->
                <a class="brand" href="@Url.Action("Index", "Dashboard")">@System.Configuration.ConfigurationManager.AppSettings["ApplicationTitle"]</a>
                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse collapse navbar-inverse-collapse">
                    @Html.Partial("Menu")
                    @Html.Partial("_Dashboard_LogOnPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid dash-content">
        @RenderBody()
    <div id="inbox-modal" class="modal hide fade"> 
        <div class="inbox-modal-header modal-header">
         <a href="#" class="close">&times;</a> 
         <h3> Mensajes</h3> 
         </div> 
         <div class="inbox-modal-body modal-body" style="overflow-y: visible"> 
            <div id="inbox-msgError"> </div> 
                <p class="body">
                </p> 
            </div> 
         <div class="inbox-modal-footer modal-footer"> 
         </div> 
        </div> 
      </div>
</body>
</html>
