<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <link rel="shortcut icon" href="@Url.Content("/Content/images/favicon.ico")">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")" />
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Scripts/methods_es.js")" type="text/javascript"></script>
    <noscript>
        <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/nojs.css")" />
    </noscript>
</head>
<body>
    <header>
            <div class="header-dark">
            <div class="page header">
                <div class="row-fluid">
                    <div class="span13 login-bar">
                        @Html.Partial("_LogOnPartial")
                    </div>
                    <div class="span12" style="margin:0">
                        <div class="span5">
                            <a href="@Url.Content("/")">
                                <img src="@Url.Content("/Content/images/logo3.png")" alt="" title="Optical Marketing"/></a>
                        </div>
                        <div class="span7">
                            <nav>
                                <ul id="menu">
                                    <li>@Html.ActionLink("Anunciantes", "Anunciantes", "Home")</li>
                                    <li>@Html.ActionLink("Editores", "Editores", "Home")</li>
                                    <li>@Html.ActionLink("Contacto", "Contacto", "Home")</li>
                                    <li>@Html.ActionLink("Sobre Nosotros", "Empresa", "Home")</li>
                                 </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </header>
    <section id="main">
            @RenderBody()
        </section>
    <footer><div class="page">
                    <div class="row-fluid">
                        <span class="span8">
                            <ul class="unstyled footer-links">
                                <li><a href="#">Términos de uso</a></li>
                                <li><a href="#">Políticas de privacidad</a></li>
                                <li><a href="#">Mejores prácticas</a></li>
                                <li><a href="#">Estado del servicio</a></li>

                            </ul>
                        </span>
                        <span class="span4 copyright">
                            <ul class="social">
                                <li class="social-facebook"><a href="#"><img src="@Url.Content("/Content/images/Facebook.png")" alt="" title="" /></a></li>
                                <li class="social-twitter"><a href="#"><img src="@Url.Content("/Content/images/Twitter.png")" alt="" title="" /></a></li>
                                <li class="social-rss"><a href="#"><img src="@Url.Content("/Content/images/Feed.png")" alt="" title="" /></a></li>
                                <li class="social-google-plus"><a href="#"><img src="@Url.Content("/Content/images/Google+.png")" alt="" title="" /></a></li>
                            </ul>
                        
                        </span>
                        <span class="span12" style="margin-left: 0">Optical Marketing © @DateTime.Today.Year @*info@OpticalMarketing.com.ar*@ </span>      
                    </div>
                
                </div>
             
        </footer>
</body>
</html>
