<ul class="nav">
        <li class="@((Request.RawUrl.Contains("/AdvertCampaign")) ? "active" : "")">
            <a href="@Url.Action("Index", "AdvertCampaign")">Campañas</a>
        </li>
        <li class="@((Request.RawUrl.Contains("/Catalog"))? "active" : "")">
            <ul class="nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Anuncios <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Index", "Catalog")">Catálogos</a></li>
                    <li><a href="@Url.Action("Index", "Game")">Juegos</a></li>
                    <li><a href="@Url.Action("Index", "Video")">Videos</a></li>
                </ul>
            </li>
        </ul>
            
        </li>
        <li class="@((Request.RawUrl.Contains("/Monitoring")) ? "active" : "")">
            <a href="@Url.Action("Index", "Monitoring")">Monitoreo</a>
            
        </li>
        <li class="@((Request.RawUrl.Contains("/CommercialProduct")) ? "active" : "")">
            <a href="@Url.Action("Index", "CommercialProduct")">Productos</a>
        </li>
       
        <li class="@((Request.RawUrl.Contains("/Help")) ? "active" : "")">
            <a href="@Url.Action("Help", "Dashboard")">Ayuda</a>
            
        </li>
        <li class="@((Request.RawUrl.Contains("/Messages")) ? "active" : "")">
            <a class="inbox" href="@Url.Action("Index", "CommercialProduct")">Buzón <span id="new" class="badge badge-important"></span></a>
           
        </li>
    </ul>
    @if (User.IsInRole("Administrador"))
    {
        <ul class="nav" id="adminmenu">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Index", "User")">Usuarios</a></li>
                    <li><a href="@Url.Action("Index", "AdvertHost")">Puestos</a></li>
                    <li><a href="@Url.Action("Index", "Location")">Ubicaciones</a></li>
                    <li><a href="@Url.Action("Index", "Customer")">Clientes</a></li>
                </ul>
            </li>
        </ul>
    }